{% extends "layout.html" %}

{% block title %}
    My Goals
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger text-center js-alert">
                {% for message in messages %}
                    <p>Error: {{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Form to create a goal -->
    <form action="/goals" method="post" class="js-goal-form">
        <div class="am-1">Goals I want to accomplish:</div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="set_goals" type="text">
            <div class="error-message js-error-set_goals"></div>
        </div>
        <div class="mb-3 d-flex justify-content gap-4">
            <div>
                <div class="am-1">Category</div>
                <select class="form-select mb-3 custom-width4" id="category" name="category">
                    <option disabled selected value=""></option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
                <div class="error-message js-error-category"></div>
            </div>
            <div>
                <div class="am-1">Target Date:</div>
                <input class="form-control mb-3 custom-width4" name="date" type="date" min="{{ today }}">
                <div class="error-message js-error-date"></div>
            </div>
            <div>
                <div class="am-1">Goal Priority</div>
                <select class="form-select mb-3 custom-width4" id="priority" name="priority">
                    <option disabled selected value=""></option>
                    {% for priority in priorities %}
                        <option value="{{ priority }}">{{ priority }}</option>
                    {% endfor %}
                </select>
                <div class="error-message js-error-priority"></div>
            </div>
        </div>
        <div class="am-1">Additional Thoughts</div>
        <div class="mb-4">
            <textarea autocomplete="off" class="form-control" name="description" rows="3" placeholder="Why / How"></textarea>
        </div>
        <div class="text-end text-center">
            <button class="btn btn-primary" type="submit">Add Goal</button>
        </div>
    </form>

    <!-- Visualization of goals table-->
    <hr>
    <h3 style="padding-top: 15px; padding-bottom: 15px;">My Goals</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Priority Level</th>
            </tr>
        </thead>
        <tbody>
            {% for goal in goals %}
                <tr>
                    <td>
                        <form action="/complete_goal" method="post">
                            <input type="hidden" name="goal_id" value="{{ goal['id'] }}">
                            <input type="checkbox" name="completed" onchange="this.form.submit()" {% if goal['completed'] %}checked{% endif %}>
                        </form>
                    </td>
                    <td>{{ goal['goal_title'] }}</td>
                    <td>{{ goal['category'] }}</td>
                    <td>{{ goal['description'] }}</td>
                    <td>{{ goal['due_date'] }}</td>
                    <td>{{ goal['priority'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}