{% extends "layout.html" %}

{% block title %}
    Tracker Log
{% endblock %}

{% block main %}
    <h2 class="heading-space">Recent Journal Log</h2>
    <div class="entry-container">
        {% for entry in journal_entries %}
            <div class="entry-card">
                <h3>{{ entry['date'] }}</h3>
                <p><strong>Mood:</strong> {{ entry['mood'] }}</p>
                <p><strong>Stress:</strong> {{ entry['stress'] }}</p>
                <p><strong>Emotion:</strong> {{ entry['emotion'] }}</p>
                <p><strong>Reflection:</strong> {{ entry['self_reflection'] }}</p>
                <p><strong>Thoughts:</strong> {{ entry['content'] }}</p>
            </div>
        {% endfor %}
    </div>
    <h2 class="heading-space">Mood Tracker</h2>
    <canvas id="moodRadarChart"></canvas>
    <h2 class="heading-space">Current Goals</h2>
        <table class="table table-striped table-bordered">
        <tr>
            <th>Goal</th>
            <th>Category</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Priority</th>
        </tr>
        {% for goal in goal_entries %}
            <tr>
                <td>{{ goal['goal_title'] }}</td>
                <td>{{ goal['category'] }}</td>
                <td>{{ goal['description'] }}</td>
                <td>{{ goal['due_date'] }}</td>
                <td>{{ goal['priority'] }}</td>
            </tr>
        {% endfor %}
    </table>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const dateLabel = {{ dates | tojson | safe }};
            const moodValue = {{ mood_val | tojson | safe }};
            const sleepValue = {{ sleep_val | tojson | safe }};
            const dietValue = {{ diet_val | tojson | safe }};
            const energyValue = {{ energy_val | tojson | safe }};
            const stressValue = {{ stress_val | tojson | safe }};

            const moodChart = document.getElementById('moodRadarChart').getContext('2d');

            new Chart(moodChart, {
                type: 'line',
                data: {
                    labels: dateLabel,
                    datasets: [{
                        label: 'Mood',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: moodValue,
                        tension: 0.3
                    },
                    {
                        label: 'Sleep',
                        backgroundColor: 'rgb(55, 160, 245)',
                        borderColor: 'rgb(55, 160, 245)',
                        data: sleepValue,
                        tension: 0.3
                    },
                    {
                        label: 'Diet',
                        backgroundColor: 'rgb(255, 165, 0)',
                        borderColor: 'rgb(255, 165, 0)',
                        data: dietValue,
                        tension: 0.3
                    },
                    {
                        label: 'Energy',
                        backgroundColor: 'rgb(255, 215, 0)',
                        borderColor: 'rgb(255, 215, 0)',
                        data: energyValue,
                        tension: 0.3
                    },
                    {
                        label: 'Stress',
                        backgroundColor: 'rgb(110, 200, 56)',
                        borderColor: 'rgb(110, 200, 56)',
                        data: stressValue,
                        tension: 0.3
                    }]
                },
            });
        });
    </script>
{% endblock %}