{% extends "layout.html" %}

{% block title %}
    Journal Entry
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger text-center js-alert">
                {% for message in messages %}
                    <p>Error: {{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="/entry" method="post" class="js-journal-form">
        <div class="am-1">Date:</div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control w-auto" name="date" type="date" min="{{ birthdate }}" max="{{ today }}">
            <div class="error-message js-date-error-message"></div>
        </div>
        <div class="am-1">How am I feeling today?</div>
        <div class="mb-3">
            <textarea autocomplete="off" class="form-control mb-3" name="content" rows="7"></textarea>
            <div class="error-message js-error-message2"></div>
        </div>
        <div class="mb-3">
            <div class="am-1">Gratitude
                <button class="btn btn-secondary" id="prompt-btn" type="button" onclick="showPrompt()">Prompts</button>
                <p class="display-prompt"></p>
                <input autocomplete="off" class="form-control mt-2" name="prompt_response" style="display: none;">
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

    <hr>

    <h2 style="padding-top: 15px; padding-bottom: 15px;"><b>My Entries</b></h2>
    <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-striped table-bordered">
            <thead class="table-primary text-center">
                <tr>
                    <th>Date</th>
                    <th>Content</th>
                    <th>Gratitude</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry["date"] }}</td>
                        <td>{{ entry["content"] }}</td>
                        <td>{{ entry["gratitude_content"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}