{% extends "layout.html" %}

{% block title %}
    Journal Entry
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger text-center js-alert">
                {% for message in messages %}
                    <p>Error: {{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="/entry" method="post" class="js-journal-form">
        <div class="am-1">Date:</div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control w-auto" name="date" type="date" min="{{ birthdate }}" max="{{ today }}">
            <div class="error-message js-date-error-message"></div>
        </div>
        <!--Mood Generator Question and Response-->
        <div class="mb-3" id="mood-section">
            <div class="am-1">Today's Mood
                <button class="btn btn-success" id="prompt-btn" type="button" onclick="showPrompt('mood-section', 'mood')">Prompts</button>
                <p class="display-prompt"></p>
                <input autocomplete="off" class="form-control mt-2" name="mood-response" style="display: none;">
                <div class="error-message js-mood-response-error-message"></div>
            </div>
        </div>
        <!--Stress Generator Question and Response-->
        <div class="mb-3" id="stress-section">
            <div class="am-1">Stress
                <button class="btn btn-success" id="prompt-btn" type="button" onclick="showPrompt('stress-section', 'stress')">Prompts</button>
                <p class="display-prompt"></p>
                <input autocomplete="off" class="form-control mt-2" name="stress-response" style="display: none;">
                <div class="error-message js-stress-response-error-message"></div>
            </div>
        </div>
        <!--Emotion Generator Question and Response-->
        <div class="mb-3" id="emotion-section">
            <div class="am-1">Emotional Processing
                <button class="btn btn-success" id="prompt-btn" type="button" onclick="showPrompt('emotion-section', 'emotion')">Prompts</button>
                <p class="display-prompt"></p>
                <input autocomplete="off" class="form-control mt-2" name="emotion-response" style="display: none;">
                <div class="error-message js-emotion-response-error-message"></div>
            </div>
        </div>
        <!--Self Reflection Generator Question and Response-->
        <div class="mb-3" id="reflection-section">
            <div class="am-1">Self-Reflection
                <button class="btn btn-success" id="prompt-btn" type="button" onclick="showPrompt('reflection-section', 'self-reflection')">Prompts</button>
                <p class="display-prompt"></p>
                <input autocomplete="off" class="form-control mt-2" name="reflection-response" style="display: none;">
                <div class="error-message js-reflection-response-error-message"></div>
            </div>
        </div>
        <!--Additional Thoughts users can input-->
        <div class="mb-3">
            <div class="am-1">Additional Thoughts/Feelings
                <textarea autocomplete="off" class="form-control mb-3" name="content" rows="7"></textarea>
                <div class="error-message js-error-message2"></div>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

    <hr>

    <h2 style="padding-top: 15px; padding-bottom: 15px;"><b>My Entries</b></h2>
    <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-striped table-bordered">
            <thead class="table-primary text-center">
                <tr>
                    <th>Date</th>
                    <th>Content</th>
                    <th>Gratitude</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry["date"] }}</td>
                        <td>{{ entry["content"] }}</td>
                        <td>{{ entry["gratitude_content"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}