<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap installation-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Bootstrap Icon installation-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/journal.js') }}" type="module"></script>
        <script src="{{ url_for('static', filename='scripts/tracker.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/goal.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/chartTracker.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Tab icon installation-->
        <link href="/static/brain.ico" rel="icon">

        <link href="/static/style.css" rel="stylesheet">

        <title>Mental Health Log</title>
    </head>
    <body>
        <header>
            <!-- Style the navigation bar at the top-->
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue;">
                <div class="container-fluid">
                    <!-- Include the journal icon and mental health title on the nav bar-->
                    <a class="navbar-brand mb-0 h1" href="/"><i class="bi bi-journal-medical"></i> Mental Health Log</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <!-- Appears only if user is signed in -->
                        {% if session["user_id"] %}
                            <ul class="navbar-nav me-auto mt-1">
                                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="/entry">Journal</a></li>
                                <li class="nav-item"><a class="nav-link" href="/tracker">Mood Tracker</a></li>
                                <li class="nav-item"><a class="nav-link" href="/goals">My Goals</a></li>
                                <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                            </ul>
                            <ul class="navbar-nav ms-auto mt-1">
                                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                            </ul>
                        <!-- Otherwise, navigation bar shows log in / register -->    
                        {% else %}
                            <ul class="navbar-nav ms-auto mt-1">
                                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        <main class="container big-padding text-center">
            {% block main %}{% endblock %}
        </main>
    </body>
</html>

