{% extends "layout.html" %}

{% block title %}
    Mood Tracker
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger text-center js-alert">
                {% for message in messages %}
                    <p>Error: {{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="/tracker" method="post">
        <h2 class="mb-4">Mood Tracker</h2>
        <div style="text-align: left;">Date:</div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control w-auto" name="date" type="date" min="{{ birthdate }}" max="{{ today }}">
            <div class="error-message js-mood-error-message"></div>
        </div>
        <!-- Mood today -->
        <div class="mb-3">
            <h4 class="mb-3 text-start">How am I feeling today?</h4>
        </div>
        <div class="d-flex flex-wrap justify-content gap-2">
            {% for mood in moods %}
                <input class="btn-check" id="mood_feeling{{ loop.index }}" name="mood_feeling" type="radio" value="{{ mood }}">
                <label class="btn btn-outline-primary" for="mood_feeling{{ loop.index }}">{{ mood }}</label>
            {% endfor %}
        </div>
        <!--Sleep Last night -->
        <div class="mb-3 mt-4">
            <h4 class="mb-3 text-start">How was my sleep last night?</h4>
        </div>
        <div class="d-flex flex-wrap justify-content gap-2">
            {% for mood in moods %}
                <input class="btn-check" id="mood_sleep{{ loop.index }}" name="mood_sleep" type="radio" value="{{ mood }}">
                <label class="btn btn-outline-primary" for="mood_sleep{{ loop.index }}">{{ mood }}</label>
            {% endfor %}
        </div>
        <!--Diet today -->
        <div class="mb-3 mt-4">
            <h4 class="mb-3 text-start">How is my diet today?</h4>
        </div>
        <div class="d-flex flex-wrap justify-content gap-2">
            {% for mood in moods %}
                <input class="btn-check" id="mood_diet{{ loop.index }}" name="mood_diet" type="radio" value="{{ mood }}">
                <label class="btn btn-outline-primary" for="mood_diet{{ loop.index }}">{{ mood }}</label>
            {% endfor %}
        </div>
        <!-- Energy today -->
        <div class="mb-3 mt-4">
            <h4 class="mb-3 text-start">How is my energy today?</h4>
        </div>
        <div class="d-flex flex-wrap justify-content gap-2">
            {% for mood in moods %}
                <input class="btn-check" id="mood_energy{{ loop.index }}" name="mood_energy" type="radio" value="{{ mood }}">
                <label class="btn btn-outline-primary" for="mood_energy{{ loop.index }}">{{ mood }}</label>
            {% endfor %}
        </div>
        <!-- Stress management today -->
        <div class="mb-3 mt-4">
            <h4 class="mb-3 text-start">How has my stress level management been?</h4>
        </div>
        <div class="d-flex flex-wrap justify-content gap-2">
            {% for mood in moods %}
                <input class="btn-check" id="mood_stress{{ loop.index }}" name="mood_stress" type="radio" value="{{ mood }}">
                <label class="btn btn-outline-primary" for="mood_stress{{ loop.index }}">{{ mood }}</label>
            {% endfor %}
        </div>
        <div class="mb-3 mt-4">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}